<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
  <body>
      <div class="container-fluid text-center mt-4">

          <h1><%= title2 %></h1>


          <div class="form-group">
              <label>Selecciona el tipo de b&uacute;squeda:</label>
              <select class="form-control" id="tipoBusqueda">
                  <option id="1">Por descripci&oacute;n</option>
                  <option id="2">Por lugar de trabajo</option>
                  <option id="3">Por coordenadas</option>
              </select>
          </div>


          <form action="/jobs/" method="GET" id="search_jobs">

              <div id="porDescripcion">
                  <div class="form-group">
                      <label>Ingrese descripci&oacute;n</label>
                      <input type="text" class="form-control" id="description" placeholder="ej: Java">
                  </div>
              </div>

              <div id="porLugar" style="display:none;">
                  <div class="form-group">
                      <label>Ingrese lugar de trabajo</label>
                      <input type="text" class="form-control" id="location" placeholder="ej: Chicago">
                  </div>
              </div>

              <div id="porCoordenadas" style="display:none;">
                  <div class="form-group">
                      <label>Ingrese coordenadas</label>
                      <input type="text" class="form-control" id="lat" placeholder="ej: 1">
                      <input type="text" class="form-control" id="long" placeholder="ej: 2">
                  </div>
              </div>


              <div class="ui input">
                  <p>¿Full time?</p>
                  <div class="form-check ml-2">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="si" value="si" checked>
                      <label class="form-check-label" for="exampleRadios1">
                          Si
                      </label>
                  </div>
                  <div class="form-check ml-2">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="no" value="no">
                      <label class="form-check-label" for="exampleRadios2">
                          No
                      </label>
                  </div>
              </div>

              <div>
                  <button type="submit" class="btn btn-primary">Buscar Empleo</button>
              </div>
          </form>


          <br />
          <br />


          <div class="row p-3" id="results">


          </div>

          <div id="myModal"></div>

      </div>



      <!--Bootstrap JS 4.2.1-->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <script type="module" src="/actions/user.js"></script>
      <script type="module" src="/actions/jobs.js"></script>
  </body>
</html>
